@charset "UTF-8";

form label {
    display: inline-block;
}
form input {
    font-size: 1em;
}
form input[type=button] {
    margin-left: 20px;
}

#result div {
    padding: 6px;
    margin-left: 2em;
    line-height: 1.5em;
}
#result div:nth-of-type(odd) {
    background-color: #FDA;
}
#result strong {
    font-size: 120%;
    font-weight: bold;
}

#result span {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    color: #F00;
    font-size: 150%;
    cursor: pointer;
}
